{% extends 'users/base.html' %}

{% block content %}
<title>Event Detail</title>
<body>
<h2>{{ detail_event.title }}</h2><br>
{{ detail_event.description }}
<br><br>


<form action=""  method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" name="action" value="post comment">
</form>

<br>

<!-- This will show the comments for the event and allow you to post more, also you can click on the user
to go to their profile -->
{% for comment in comment_list %}
    <hr>
    {{ comment.description }}<br>
    - posted by <a href="{% url 'users:dashboard' comment.author.pk %}">{{ comment.author }}</a> <br><br>
    {% for reply in comment.reply_set.all %}
        <li>{{ reply.description }}</li><br>
        {% endfor %}

{# this allows you to reply to either the comment or each reply #}
    <form action= "" method="post">
    {% csrf_token %}

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <input type="text" name="reply" value="Type your reply here">
        <input type="submit" name="action" value="reply">
        <input type="hidden" name = 'parent_id' value="{{ comment.pk }}">
    </form>
    <br><br>

{% endfor %}


</body>

{% endblock %}