<!DOCTYPE html>
<html lang="en">

<p>
    <h1><a href="{% url 'index' %}"style="color: blue">Vicarious Living</a></h1>
    {% if user.is_authenticated %}
    <a href="{% url 'event:new_event' %}" style="color: blue">Create New Event</a>
    <a href="{% url 'users:logout' %}"style="color: blue">Logout</a>
    {% endif %}
    {% if not user.is_authenticated %}
    <a href="{% url 'users:login' %}"style="color: blue">Login Here</a>
    <a href="{% url 'users:signup' %}"style="color: blue">Sign Up Here</a>
    {% endif %}
</p>

{% block content %}
{% endblock content %}
</html>