{% extends 'users/base.html' %}

{% block content %}


<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
</head>
<p>Personal messages:</p>
    {% for message in user_message %}
        Message thread with user:{{ message.sender.username }}
        <li><a href="{% url 'users:thread' message.pk %}">{{ message.blurb }}</a> </li><br>
    {% endfor %}
<hr>

<body>
These are all the comments you have made:
{% for comment in user_comment %}
   <li>{{ comment.description }}</li><br>
    <li>{{ comment.event }}</li>
{% endfor%}

<hr>

These are all the events you have commented on:
{% for event in events %}
    <li>{{ event.title }}</li><br>
{% endfor %}

</body>


{% endblock %}
</html>